@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open Sans");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbarNav {
  font: normal normal 600 25px/30px Oswald;
  letter-spacing: 0px;
}
.navbar {
  top: 0px;
  left: 0px;
  height: 80px;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding: 50px;
}
.navbar-brand {
  top: 11px;
  left: 60px;
  width: 70%;
  height: 78px;
  background: transparent url("assets/logo.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.nav-item {
  padding: 23px;
}
.nav-link {
  top: 32px;
 justify-content: space-evenly;
}
.vehicle {
  padding: 60px;
}
.title {
  top: 231px;
  left: 100px;
  text-align: left;
  font: normal normal bold 45px/61px Open Sans;
  letter-spacing: 0px;
  font-weight: bold;
  color: #000000;
  padding: 20px;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 100px;
  background: #e3e3e3;
}
/* .row {
  margin: 0 -5px;
} */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}
p {
  background: #e3e3e3;
  font-family: Open Sans;
  font-weight: 1000;
  font-size: 20px;
}

.heading {
  top: 1042px;
  left: 100px;
  text-align: left;
  font: normal normal bold 45px/61px Open Sans;
  letter-spacing: 0px;
  font-weight: bold;
  color: #000000;
  padding: 20px;
  margin-top: 40px;
}
.column1 {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 100px;
  background: #e3e3e3;
}
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}

.column2 {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 100px;
  background: #e3e3e3;
}
.column7 {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 100px;
  background: #e3e3e3;
}
@media screen and (max-width: 600px) {
  .column7 {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}
.column8 {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 100px;
  background: #e3e3e3;
}
@media screen and (max-width: 600px) {
  .column8 {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}
.column6 {
  float: left;
  width: 25%;
  padding: 0 10px;
  height: 100px;
  background: #e3e3e3;
}
@media screen and (max-width: 600px) {
  .column6 {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
}
.charges {
  padding: 60px;
  padding-bottom: 20px;
}
/* .card {
  background-color: #e3e3e3;
  display: grid;
  width: 80%;
} */
.passDetails {
  left: 100px;
  text-align: left;
  font: normal normal bold 45px/61px Open Sans;
  letter-spacing: 0px;
  font-weight: bold;
  color: #000000;
  padding-left: 60px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.Passenger {
  text-align: left;
}
.column3 {
  float:left;
  width: 34%;
  padding: 0 40px;
  height: 48%;
  background: #e3e3e3;
}
@media screen and (max-width: 500px) {
  .column3 {
    width: 100%;
    display:block;
    margin-bottom: 25px;
  }
}
.column4 {
  float: left;
  width: 25%;
  padding: 0 40px;
   height: 48%; 
  background: #e3e3e3;
}
@media screen and (max-width: 500px) {
  .column4 {
    width: 100%;
    display:block;
    margin-bottom: 25px;
  }
}
.column5 {
  float: left;
  text-align: left;
  width: 34%;
  padding: 0 40px;
   height: 34.5vh; 
  background: #e3e3e3;
}
@media screen and (max-width: 500px) {
  .column5 {
    width: 100%;
    display:block;
    margin-bottom: 25px;
  }
}

input[type="text"] {
  width: 29vh;
  padding: 10px 20px;
  margin: 8px 0;
  height: 38px;
  box-sizing: border-box;

}
input[type="time"] {
  width: 29vh;
  padding: 10px 20px;
  margin: 8px 0;
  height: 38px;
  box-sizing: border-box;

}
input[type="date"] {
  width: 29vh;
  padding: 10px 20px;
  margin: 8px 0;
  height: 38px;
  box-sizing: border-box;

}
.card-body{
padding-bottom: 20px;
}
label {
  font-weight: bolder;
  font-family: Open Sans;
  font-size: 19px;
  text-align: left;
}
/* .form-group {
  padding: 19px 30px 5px 3px;
  margin-left: 25px;
  margin-right: 20px;
} */
.btn-1 {
  border-radius: 25px;
  border: 2px solid #0000;
  height: 40px;
  width: 25vh;
  font-weight: 500;
  font-size:1.2rem;
  text-align: center;
  justify-content: center;
}
.button{
padding-top: 60px;
  display:block;
  box-sizing:content-box;
justify-content: center;
align-items: center;
padding-left: 65vh;
}


/* 
footer */
/* footer{
    display:inline-block; 
}
.footer-1{

justify-content:center;
text-align: center;
 width: auto;}

footer .main-footer {
    clear: both;
  padding: 20px;
  /* height: auto; */
  /* background:#e3e3e3;
  min-height: 350px;
}

footer ul {
  padding-left: 115px;
  padding-top: 23px;
  list-style: none;
} */
/* 
.widget .thumbnail-widget {
  margin-top: 40px;
}

/* Footer transparent */
/* footer.transparent .footer-top,
footer.transparent .main-footer {
  background: transparent;
} */

/* Footer light */
/* footer.light .footer-top {
  background: #f9f9f9;
}
footer.light .main-footer {
  background: #f9f9f9;
}

.footer-1 .container {
  display: flex;
} */

/* Footer 4 */
/* .footer- .logo {
  display: inline-block;
}

.widget li a {
  color: var(--secondary-color);
  text-decoration: none;
}
.widget li a:hover {
  color: #aaa;
  text-decoration: none;
}
.widget-title {
  margin-bottom: 20px;
}

.btn {
  background-color: var(--greyish-black);
  color: #fff;
}

input.submitbutton.ripplelink {
  background: var(--greyish-black);  */
  /* border: 3px solid rgba(0, 0, 0, 0.1); */
  /* color: #fff;
  border-radius: 40px; */
  /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); */
  /* transition-delay: 0s;
  width: 50%;
  font-size: 14px; */
  /* font-weight: 700; */
  /* border: 0px solid;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 15px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.container .sub {
  margin-top: 61px;
  margin-left: 70px;
}

 .container .subscribe p {
    font-family: 'Nunito Sans', sans-serif;
} 

 .thumb-content,
.container .sub p {
    font-family: 'Nunito Sans', sans-serif;
  font-weight:bold;
} 

.thumb-content {
  line-height: 1.8rem;
}

.container .sub .upper-text {
  font-size: 1.3rem;
}  */
footer {
	background:#e3e3e3;
	padding: 40px 0;
}
@media screen and (max-width:500px){
  .footer{
    width: 100%;
    display:block;
    margin-bottom: 25px;
  
  }
  
}

.single-box p {
  font-family:Nunito Sans;
	color:#000000;
	line-height: 1.9;
}
.single-box h3 {
  font-family:Nunito Sans;
	font-size: 16px;
	font-weight:600;
	color:#000000;
}
.single-box img{
  margin-left: -40px;
}
.single-box ul {
	list-style: none;
	/* padding: 0; */
  padding-left: 125px;
  padding-top: 64px;
}
.single-box ul li a {
  font-family: Nunito Sans;
	text-decoration: none;
	color: #000000;
	line-height: 2.5;
	font-weight:600;
}
.input-group .form-control{
  border-radius: 10px;
  max-width: 60%;
}
.single-box h2 {
  font-family: Nunito Sans;
	color:#000000;
	font-size: 20px;
	font-weight: 700;
}
/* #basic-addon2 {
	background: var(--btn-background);
	color: var(--primary-color);
} */
.single-box .single-box-content{
  padding-top: 69px;
}
.single-box-content p{
  font-weight: 600;
}
.subscribe-btn .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  width: 30%;
  border-radius: 25px;
  background-color: #484848;
  color: white;
  font-family: Nunito Sans;
}

.subscribe-btn .btn:hover{
  background-color:#676767;
}

@media  screen and (max-width: 500px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}