@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

#navbarNav {
  font: normal normal 600 25px/30px Oswald;
  letter-spacing: 0px;
}
.navbar {
  top: 0px;
  left: 0px;
  height: 100px;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  padding: 50px;
}
.navbar-brand {
  top: 11px;
  left: 60px;
  width: 155px;
  height: 78px;
  background: transparent url("assets/logo.png") 0% 0% no-repeat padding-box;
  opacity: 1;
}
.nav-item{
    padding: 23px;
}
.nav-link {
  top: 32px;
  
  justify-content: space-evenly;
}
.vehicle{
    padding: 50px;
    box-sizing: border-box;
}
.title {
  top: 231px;
  left: 100px;
  text-align: left;
  font: normal normal bold 45px/61px Open Sans;
  letter-spacing: 0px;
  font-weight: bold;
  color: #000000;
}
.card-group{
  top: 327px;
  height: 101px;
  background: #e3e3e3 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
   padding: 1rem;

}
.card-body2{

}
.detail{
    background-color: #e3e3e3;
padding: 60px;
font-size: 35px;
}

